@charset "UTF-8";
.icon-satellite::before {
  background-image: url("../images/satellite.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-pc::before {
  background-image: url("../images/pc.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.hidden-title {
  margin: 0;
  display: none;
}

body {
  background-color: #fff;
  color: #212121;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.general-a {
  text-decoration: none;
  color: #212121;
}

.general-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  min-width: 200px;
  border: none;
}

.footerbtn-text {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 10px 28px;
  text-align: center;
  min-width: 200px;
  border: none;
  cursor: pointer;
}

.footerbtn-text:focus {
  outline: 2px solid #ffffff;
}

.input {
  color: #ffffff;
  padding: 16px 15px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.icon-btn::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.link-block {
  display: block;
}

.link-block::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.header-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.general-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general-nav {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general-nav:hover {
  color: #2196f3;
}

.general-nav:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.number-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-nav:hover {
  color: #2196f3;
}

.number-nav:focus {
  color: #2196f3;
}

.phone-icon {
  fill: #757575;
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  fill: #757575;
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-nav:hover .phone-icon {
  fill: #2196f3;
}

.number-nav:focus .phone-icon {
  fill: #2196f3;
}

.number-nav:hover .mail-icon {
  fill: #2196f3;
}

.number-nav:focus .mail-icon {
  fill: #2196f3;
}

.list-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number-info .list-number:not(:last-child) {
  margin-right: 30px;
}

.number-info {
  margin-left: auto;
}

.general-ul.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  margin-left: 86px;
}

.number-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-boxoll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-boxnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal.is-hidden .modal-form {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: #ffffff;
  padding: 40px 40px;
  width: 528px;
  height: 581px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.input-modal {
  width: 448px;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-block;
  outline: none;
}

.input-modal:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.input-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.input-textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.policy {
  position: relative;
  display: inline-block;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.policy .general-a {
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.policy-input {
  margin-left: 23.48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-modal {
  padding: 10px 55px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form-input {
  position: relative;
  margin-bottom: 28px;
}

.form-inputcom {
  position: relative;
  margin-bottom: 20px;
}

.text-formcom {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-form {
  position: absolute;
  top: 50%;
  left: 42px;
  display: inline-block;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #212121;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus ~ .text-form,
.input-modal:not(:placeholder-shown) ~ .text-form {
  -webkit-transform: translate(-24px, -38px);
          transform: translate(-24px, -38px);
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
}

.input-modal:focus ~ .images-modal {
  fill: #2196f3;
}

.input-textarea:focus + .text-formcom,
.input-textarea:not(:placeholder-shown) + .text-formcom {
  -webkit-transform: translateY(-21px);
          transform: translateY(-21px);
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.policy-input:checked ~ .icon-modal {
  background-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-image: url(../images/close-modal.svg);
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header.jpg);
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  margin: 0 auto;
  width: 1200px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-general {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  width: 646px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.title-h {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title-text {
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.paragraph-text {
  color: #757575;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}

.section-one .container {
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

.about-us {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.about-us:nth-child(4n) {
  margin-right: 0px;
}

.section-two .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.text-work {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.work-card {
  background: #ffffff;
  height: 422px;
  padding-bottom: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.work-calc {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-calc:nth-child(3n) {
  margin-right: 0px;
}

.section-three {
  background-color: #f5f4fa;
}

.section-three .container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.position {
  position: relative;
}

.name-people {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-calc {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.team-calc:nth-child(4n) {
  margin-right: 0px;
}

.work-people {
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-network {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  background-color: #f5f4fa;
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box:hover {
  background-color: #2196f3;
}

.social-box:focus {
  background-color: #2196f3;
}

.instagram {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.twitter {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.facebook {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkedin {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box:hover .instagram,
.social-box:focus .instagram {
  fill: #ffffff;
}

.social-box:hover .twitter,
.social-box:focus .twitter {
  fill: #ffffff;
}

.social-box:hover .facebook,
.social-box:focus .facebook {
  fill: #ffffff;
}

.social-box:hover .linkedin,
.social-box:focus .linkedin {
  fill: #ffffff;
}

.section-four .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  outline: none;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-border:hover {
  border-color: #2196f3;
}

.company-border:focus {
  border-color: #2196f3;
}

.company-border:hover .logo-one,
.company-border:focus .logo-one {
  fill: #2196f3;
}

.company-border:hover .logo-two,
.company-border:focus .logo-two {
  fill: #2196f3;
}

.company-border:hover .logo-three,
.company-border:focus .logo-three {
  fill: #2196f3;
}

.company-border:hover .logo-four,
.company-border:focus .logo-four {
  fill: #2196f3;
}

.company-border:hover .logo-five,
.company-border:focus .logo-five {
  fill: #2196f3;
}

.company-border:hover .logo-six,
.company-border:focus .logo-six {
  fill: #2196f3;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-company {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.item-company:nth-child(6n) {
  margin-right: 0px;
}

.social-network .item:not(:last-child) {
  margin-right: 10px;
}

.logo-one {
  fill: #afb1b8;
  width: 44.27px;
  height: 49.23px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-two {
  fill: #afb1b8;
  width: 40px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-three {
  fill: #afb1b8;
  width: 41px;
  height: 42.6px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-four {
  fill: #afb1b8;
  width: 79.66px;
  height: 42.02px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-five {
  fill: #afb1b8;
  width: 59px;
  height: 47px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-six {
  fill: #afb1b8;
  width: 88.48px;
  height: 45.44px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.color-logo {
  color: #2196f3;
}

.adrfooter-div .general-a.logo {
  color: #ffffff;
}

.bg-footer {
  background-color: #2f303a;
}

.bg-footer .container {
  padding-bottom: 60px;
}

.general-address {
  font-style: normal;
  width: 231px;
  margin-right: 69px;
}

.footer-m .footer-heading {
  width: 145px;
  height: 16px;
}

.footer-heading {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 21px;
  margin-right: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general-flex .item:not(:last-child) {
  margin-right: 10px;
}

.flex-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.street {
  color: #ffffff;
  width: 231px;
  height: 21px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.fsocial-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fsocial-box:hover {
  background-color: #2196f3;
}

.fsocial-box:focus {
  background-color: #2196f3;
}

.address-ul {
  width: 231px;
  height: 21px;
  margin-top: 9px;
  margin-bottom: 28px;
}

.instagram-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.twitter-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.facebook-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.linkedin-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
}

.adrfooter-div {
  margin-top: 48px;
}

.ssfooter-div {
  margin-top: 56px;
}

.footer-m {
  width: 206px;
  height: 81px;
  margin-top: 56px;
  margin-right: 93px;
}

.container-portfolio {
  margin-top: 93px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-list {
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-box {
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-m:not(:last-child) {
  margin-right: 8px;
}

.button-box:hover,
.button-box:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* список работ */
.portfolio-h {
  color: #212121;
  width: 322px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-pone {
  color: #757575;
  width: 322px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  width: 322px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.position {
  overflow: hidden;
}

.general-a:hover .overlay,
.general-a:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.p-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-card {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.flex-li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-li:nth-child(3n) {
  margin-right: 0px;
}

.flex-li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-li .general-a {
  display: block;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-li .general-a:hover,
.flex-li .general-a:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=maine.css.map */