@charset "UTF-8";
.icon-satellite::before {
  background-image: url("../images/satellite.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-pc::before {
  background-image: url("../images/pc.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.hidden-title {
  margin: 0;
  display: none;
}

body {
  background-color: #fff;
  color: #212121;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.general-a {
  text-decoration: none;
  color: #212121;
}

.general-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  min-width: 200px;
  border: none;
}

.footerbtn-text {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 10px 28px;
  text-align: center;
  min-width: 200px;
  border: none;
  cursor: pointer;
}

.footerbtn-text:focus {
  outline: 2px solid #ffffff;
}

@media screen and (max-width: 767px) {
  .footerbtn-text {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .footerbtn-text {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

.input {
  color: #ffffff;
  padding: 16px 15px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.icon-btn::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link-block {
  display: block;
}

.link-block::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 480px) {
  .link-block {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .link-block {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .link-block {
    width: 270px;
  }
}

.header-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

@media screen and (min-width: 768px) {
  .general-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.general-nav {
  color: #212121;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general-nav:hover {
  color: #2196f3;
}

.general-nav:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.number-nav {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-nav:hover {
  color: #2196f3;
}

.number-nav:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .number-info > .list-number {
    margin-bottom: 16px;
  }
}

.phone-icon {
  fill: #757575;
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  fill: #757575;
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-nav:hover .phone-icon {
  fill: #2196f3;
}

.number-nav:focus .phone-icon {
  fill: #2196f3;
}

.number-nav:hover .mail-icon {
  fill: #2196f3;
}

.number-nav:focus .mail-icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .number-info .list-number:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .number-info {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.number-info {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .general-ul.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .general-ul.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-list .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .number-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .flex-boxoll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .flex-boxoll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-boxnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal.is-hidden .modal-form {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: #ffffff;
  padding: 40px 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
    height: 581px;
  }
}

.modal-p {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 480px) {
  .modal-p {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal-p {
    font-size: 20px;
    line-height: 1.15;
  }
}

.input-modal {
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-block;
  outline: none;
}

.input-modal:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .input-modal {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .input-modal {
    width: 448px;
  }
}

.input-textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.input-textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .input-textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .input-textarea {
    width: 448px;
  }
}

.policy {
  position: relative;
  display: inline-block;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .policy {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .policy {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy .general-a {
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
  font-weight: 400;
}

@media screen and (min-width: 480px) {
  .policy .general-a {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .policy .general-a {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-input {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-modal {
  padding: 10px 55px;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form-input {
  position: relative;
  margin-bottom: 28px;
}

.form-inputcom {
  position: relative;
  margin-bottom: 20px;
}

.text-formcom {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-form {
  position: absolute;
  top: 50%;
  left: 42px;
  display: inline-block;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #212121;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus ~ .text-form,
.input-modal:not(:placeholder-shown) ~ .text-form {
  -webkit-transform: translate(-24px, -38px);
          transform: translate(-24px, -38px);
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
}

.input-modal:focus ~ .images-modal {
  fill: #2196f3;
}

.input-textarea:focus + .text-formcom,
.input-textarea:not(:placeholder-shown) + .text-formcom {
  -webkit-transform: translateY(-21px);
          transform: translateY(-21px);
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.policy-input:checked ~ .icon-modal {
  background-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-image: url(../images/close-modal.svg);
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-mobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-mobile.jpg");
    background-size: 480px 400px;
    max-width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-tablets.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-tablets.jpg");
    background-size: 768px 400px;
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header.jpg");
    background-size: 1600px 600px;
    max-width: 1600px;
    height: 600px;
  }
}

.hero-container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hero-container {
    max-width: 360px;
    height: 400px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 360px;
    height: 400px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 696px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.title-general {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .title-general {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .title-general {
    font-size: 44px;
    line-height: 1.4;
  }
}

.title-h {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title-text {
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.paragraph-text {
  color: #757575;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}

.section-one .container {
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .about-us {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    width: calc((100% - 8 * 15px) / 4);
    margin-right: 15px;
  }
}

.section-oneli {
  margin: -15px;
}

.section-two .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-two {
    display: none;
  }
}

.text-work {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.work-card {
  background: #ffffff;
  padding-bottom: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.work-calc {
  width: calc((100% - 6 * 15px) / 3);
  margin: 15px;
}

.section-three {
  background-color: #f5f4fa;
}

.section-three .container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.position {
  position: relative;
}

.name-people {
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-calc:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-calc {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-calc {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.work-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.work-people {
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-network {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  background-color: #f5f4fa;
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box:hover {
  background-color: #2196f3;
}

.social-box:focus {
  background-color: #2196f3;
}

.photo-set {
  display: block;
  width: 100%;
}

.instagram {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.twitter {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.facebook {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkedin {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box:hover .instagram,
.social-box:focus .instagram {
  fill: #ffffff;
}

.social-box:hover .twitter,
.social-box:focus .twitter {
  fill: #ffffff;
}

.social-box:hover .facebook,
.social-box:focus .facebook {
  fill: #ffffff;
}

.social-box:hover .linkedin,
.social-box:focus .linkedin {
  fill: #ffffff;
}

.section-four .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  outline: none;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-border:hover {
  border-color: #2196f3;
}

.company-border:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .company-border {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .company-border {
    width: 170px;
  }
}

.company-border:hover .logo-one,
.company-border:focus .logo-one {
  fill: #2196f3;
}

.company-border:hover .logo-two,
.company-border:focus .logo-two {
  fill: #2196f3;
}

.company-border:hover .logo-three,
.company-border:focus .logo-three {
  fill: #2196f3;
}

.company-border:hover .logo-four,
.company-border:focus .logo-four {
  fill: #2196f3;
}

.company-border:hover .logo-five,
.company-border:focus .logo-five {
  fill: #2196f3;
}

.company-border:hover .logo-six,
.company-border:focus .logo-six {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .company {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .company {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .company {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.item-company {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .item-company {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .item-company {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-company {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.social-network .item:not(:last-child) {
  margin-right: 10px;
}

.logo-one {
  fill: #afb1b8;
  width: 44.27px;
  height: 49.23px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-two {
  fill: #afb1b8;
  width: 40px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-three {
  fill: #afb1b8;
  width: 41px;
  height: 42.6px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-four {
  fill: #afb1b8;
  width: 79.66px;
  height: 42.02px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-five {
  fill: #afb1b8;
  width: 59px;
  height: 47px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-six {
  fill: #afb1b8;
  width: 88.48px;
  height: 45.44px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.color-logo {
  color: #2196f3;
}

.adrfooter-div .general-a.logo {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .adrfooter-div {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .adrfooter-div {
    margin-top: 60px;
  }
}

.bg-footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .bg-footer {
    padding-top: 60px;
  }
}

.bg-footer .container {
  padding-bottom: 60px;
}

.general-address {
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .general-address {
    width: 231px;
    margin-right: 69px;
  }
}

.footer-m .footer-heading {
  width: 145px;
  height: 16px;
}

.footer-heading {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-heading {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-heading {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .flex-mobfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.general-flex .item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media screen and (min-width: 1200px) {
  .adrfooter-div {
    margin-top: 60px;
  }
}

.number-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.street {
  color: #ffffff;
  height: 21px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .street {
    width: 231px;
  }
}

.fsocial-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fsocial-box:hover {
  background-color: #2196f3;
}

.fsocial-box:focus {
  background-color: #2196f3;
}

.address-ul {
  height: 21px;
  margin-top: 9px;
  margin-bottom: 28px;
}

@media screen and (min-width: 1200px) {
  .address-ul {
    width: 231px;
  }
}

.instagram-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.twitter-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.facebook-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.linkedin-two {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .input {
    max-width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 480px) {
  .input {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .ssfooter-div {
    margin-top: 56px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .ssfooter-div {
    margin-top: 72px;
  }
}

.footer-m {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer-m {
    padding-top: 60px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-m {
    margin-top: 65px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-m {
    height: 81px;
    margin-top: 72px;
    margin-right: 93px;
  }
}

.container-portfolio {
  margin-top: 93px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container-portfolio {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-portfolio {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-portfolio {
    width: 1200px;
  }
}

.button-list {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-box {
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .button-m {
    margin-right: 8px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button-m:not(:last-child) {
    margin-right: 8px;
  }
}

.button-box:hover,
.button-box:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* список работ */
.portfolio-h {
  color: #212121;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .portfolio-h {
    width: 322px;
  }
}

.portfolio-pone {
  color: #757575;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 768px) {
  .portfolio-pone {
    width: 322px;
  }
}

.portfolio-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  width: 322px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.position {
  overflow: hidden;
}

.general-a:hover .overlay,
.general-a:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .p-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-card {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.flex-li {
  margin: 15px;
}

@media screen and (max-width: 479px) {
  .flex-li {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .flex-li {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .flex-li {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.flex-li .general-a {
  display: block;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-li .general-a:hover,
.flex-li .general-a:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-mobile@2x.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 767px) and (min-resolution: 288dpi), screen and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-mobile@3x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-mobile@3x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-tablets@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-tablets@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-tablets@3x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-tablets@3x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header-portfolio {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
  }
  .menu-button .icon-close {
    display: none;
  }
  .menu-button.is-open .icon-close {
    display: block;
  }
  .menu-button.is-open .icon-menumob {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: none;
    text-align: center;
    border-top: 1px solid #ececec;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    z-index: 999;
  }
  .menu-mobile.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container.flex-boxoll.flex-boxnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    margin-left: 81px;
  }
}
/*# sourceMappingURL=maine.css.map */