.page-header {
  @media screen and (max-width: $tablets-min) {
    position: relative;
  }
}
.menu-button {
  @media screen and (max-width: $tablets-min) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;

    & .icon-close {
      display: none;
    }
    &.is-open {
      & .icon-close {
        display: block;
      }
      & .icon-menumob {
        display: none;
      }
    }
  }
  @media screen and (min-width: $tablets) {
    display: none;
  }
}

.menu-mobile {
  @media screen and (max-width: $tablets-min) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $primery-text-white;
    display: none;
    text-align: center;
    border-top: 1px solid #ececec;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablets) {
    flex-basis: 100%;
  }
}

.container {
  &.flex-boxoll {
    &.flex-boxnav {
      @media screen and (max-width: $tablets-min) {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: $tablets) {
  .menu-mobile {
    margin-left: 81px;
  }
}
