.page-header {
  position: relative;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;

  & .icon-close {
    display: none;
  }
  &.is-open {
    & .icon-close {
      display: block;
    }
    & .icon-menumob {
      display: none;
    }
  }
  @media screen and (min-width: $tablets) {
    display: none;
  }
}

.menu-mobile {
  @media screen and (max-width: $tablets-min) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $primery-text-white;
    display: none;
    text-align: center;
    &.is-open {
      display: block;
    }
  }
}

.container {
  &.flex-boxoll {
    &.flex-boxnav {
      @media screen and (max-width: $tablets-min) {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: $tablets) {
  .menu-mobile {
    margin-left: 81px;
  }
}
