.number-footer {
  color: $footer-number;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.street {
  color: $primery-text-white;

  width: 231px;
  height: 21px;

  margin-top: 10px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.fsocial-box {
  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;

  border-radius: 50%;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $acent-text-color;
  }
  &:focus {
    background-color: $acent-text-color;
  }
}
.address-ul {
  width: 231px;
  height: 21px;

  margin-top: 9px;
  margin-bottom: 28px;
}
