.number-nav {
  display: flex;
  align-items: center;
  color: $connection;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $acent-text-color;
  }
  &:focus {
    color: $acent-text-color;
  }
}

.phone-icon {
  fill: $connection;
  width: 10px;
  height: 14.94px;

  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon {
  fill: $connection;
  width: 16px;
  height: 11.2px;

  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-nav:hover {
  & .phone-icon {
    fill: $acent-text-color;
  }
}
.number-nav:focus {
  & .phone-icon {
    fill: $acent-text-color;
  }
}
.number-nav:hover {
  & .mail-icon {
    fill: $acent-text-color;
  }
}
.number-nav:focus {
  & .mail-icon {
    fill: $acent-text-color;
  }
}
.list-number {
  display: flex;
}
.number-info {
  & .list-number:not(:last-child) {
    margin-right: 30px;
  }
}

.number-info {
  margin-left: auto;
}
