.general-ul.nav-list {
  @media screen and (min-width: $tablets) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.nav-list {
  & .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-list {
  @media screen and (min-width: $tablets) {
    margin-left: 81px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 86px;
  }
}

.number-info {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.flex-boxoll {
  @media screen and (min-width: $mobile) {
    display: flex;
  }
  @media screen and (min-width: $tablets) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.flex-boxnav {
  align-items: center;
}
