.bg-footer {
  background-color: $bg-footer;
  @media screen and (max-width: $tablets-min) {
    padding-top: 60px;
  }
  // @media screen and (min-width: $tablets) {
  //   padding-top: 60px;
  // }
}

.bg-footer {
  & .container {
    padding-bottom: 60px;
  }
}

.general-address {
  font-style: normal;

  @media screen and (min-width: $desktop) {
    width: 231px;

    margin-right: 69px;
  }
}

.footer-m {
  & .footer-heading {
    width: 145px;
    height: 16px;
  }
}

.footer-heading {
  color: $primery-text-white;
  margin-top: 0px;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  @media screen and (max-width: $tablets-min) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 0px;
  }
}
.flex-mobfooter {
  @media screen and (max-width: $tablets-min) {
    display: flex;
  }
}
.flex-footer {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.general-flex .item:not(:last-child) {
  margin-right: 10px;
}

.container-footer {
  // @media screen and (min-width: $tablets) {
  //   margin-left: 82px;
  //   margin-right: 82px;
  // }
  // @media screen and (max-width: $desktop-min) {

  // }
  @media screen and (min-width: $tablets) {
    display: flex;
  }
  @media screen and (min-width: $tablets) and (max-width: $desktop-min) {
    margin-left: 82px;
    margin-right: 82px;
  }
}

// .copyright {
//   color: $footer-year;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   padding-top: 18px;
//   padding-bottom: 21px;

//   font-weight: 400;
//   font-size: 12px;
//   line-height: 2;
//   text-align: center;
// }
