.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $mobile) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/header-mobile.jpg');

    background-size: 480px 400px;
    width: 480px;
    height: 400px;
  }
  @media screen and (min-width: $mobile) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/header-mobile.jpg');

    background-size: 480px 400px;
    width: 480px;
    height: 400px;
  }
  @media screen and (min-width: $tablets) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/header-tablets.jpg');

    background-size: 768px 400px;
    width: 768px;
    height: 400px;
  }
  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   & {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(47, 48, 58, 0.8),
  //         rgba(47, 48, 58, 0.8)
  //       ),
  //       url('../images/header-tablets@2x.jpg');
  //   }
  // }

  // @media screen and (min-width: $desktop) {
  //   max-width: 1600px;
  //   background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.8),
  //     rgba(47, 48, 58, 0.8)
  //   );
  //   // url(../images/header.jpg);
  // }

  // background-repeat: no-repeat;
}

.hero-container {
  margin: 0 auto;
  @media screen and (max-width: $mobile) {
    max-width: 360px;
    height: 400px;
    padding-top: 118px;
  }
  @media screen and (min-width: $mobile) {
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
  }
  @media screen and (min-width: $tablets) {
    max-width: 360px;
    height: 400px;
    padding-top: 118px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.title-general {
  color: $primery-text-white;

  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.4;
    width: 646px;
  }
}

.title-h {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-text {
  height: 16px;
  margin-top: 30px;
  margin-bottom: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.paragraph-text {
  color: $connection;

  height: 75px;

  margin-top: 10px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}
