.logo {
  color: $primary-text-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.color-logo {
  color: $acent-text-color;
}
.adrfooter-div .general-a.logo {
  color: $primery-text-white;
}
