.section-four {
  & .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.company-border {
  display: flex;
  align-items: center;

  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  outline: none;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: $acent-text-color;
  }
  &:focus {
    border-color: $acent-text-color;
  }
}

.company-border:hover,
.company-border:focus {
  & .logo-one {
    fill: $acent-text-color;
  }
}
.company-border:hover,
.company-border:focus {
  & .logo-two {
    fill: $acent-text-color;
  }
}
.company-border:hover,
.company-border:focus {
  & .logo-three {
    fill: $acent-text-color;
  }
}
.company-border:hover,
.company-border:focus {
  & .logo-four {
    fill: $acent-text-color;
  }
}
.company-border:hover,
.company-border:focus {
  & .logo-five {
    fill: $acent-text-color;
  }
}
.company-border:hover,
.company-border:focus {
  & .logo-six {
    fill: $acent-text-color;
  }
}

.company {
  display: flex;
  justify-content: center;
}
.item-company {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
  &:nth-child(6n) {
    margin-right: 0px;
  }
}

.social-network {
  & .item:not(:last-child) {
    margin-right: 10px;
  }
}
