.section-two {
  & .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.text-work {
  position: absolute;
  bottom: 0;
  right: 0;

  color: $primery-text-white;
  background: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.work-card {
  background: $primery-text-white;
  height: 422px;

  padding-bottom: 24px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.work-calc {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.section-three {
  background-color: $bg-none-light;
  & .container {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.position {
  position: relative;
}
