.section-one {
  & .container {
    padding-top: 94px;
    padding-bottom: 94px;
    border-bottom: 1px solid #ececec;
  }
}

.about-us {
  @media screen and (min-width: $tablets) {
    // width: 354px;
  }
  @media screen and (min-width: $tablets) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin-right: 15px;
  }
}
.section-oneli {
  margin: -15px;
}
