.instagram-two {
  fill: currentColor;

  width: 20px;
  height: 20px;

  margin-left: auto;
  margin-right: auto;
}
.twitter-two {
  fill: currentColor;

  width: 20px;
  height: 20px;

  margin-left: auto;
  margin-right: auto;
}
.facebook-two {
  fill: currentColor;

  width: 20px;
  height: 20px;

  margin-left: auto;
  margin-right: auto;
}
.linkedin-two {
  fill: currentColor;

  width: 20px;
  height: 20px;

  margin-left: auto;
  margin-right: auto;
}
