.input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
}

.adrfooter-div {
  margin-top: 48px;
}

.ssfooter-div {
  margin-top: 56px;
}

.footer-m {
  width: 206px;
  height: 81px;

  margin-top: 56px;
  margin-right: 93px;
}
